html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner-head {
  max-width: 50em;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
  bottom: 0;
  padding: 1em;
  margin: 0;
}

.mecha {
  float: left;
  max-width: 30%;
}

.text {
}

h2 {
  display: inline;
  font-size: 3rem;
  font-weight: bold;
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  max-width: 70%;
  float: right;
}

p {
  font-size: 1.5rem;
  padding-top: 1em;
  margin: .5em 0;
  font-family: Roboto, sans-serif;
  max-width: 70%;
  float: right;
}

.btn {
  padding: .6em .75em;
  border-radius: 8px;
  background-color: #333;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-size: 1.125rem;
  font-family: Roboto, sans-serif;
  margin-top: 1em;
}

.btn-big {
  font-size: 1.5rem;
}

.btn:hover {
  background-color: black;
}
